<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ComditionsAndLoops from "./components/ComditionsAndLoops.vue";
import FormBindins from "./components/FormBindins.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br /><br />
    <FormBindins />
    <br /><br />
    <ComditionsAndLoops />
    <br />
    <br />
    <AttributeBindings />
    <CalComponent />
    <HelloWorldExample />
    <HandlingUserInput />
  </div>
</template>

<style scoped></style>
